<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Availability Checker</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        #form-container {
            max-width: 500px;
            margin: 0 auto;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }

        .card {
            width: 500px;
            margin: 30px;
            cursor: pointer;
        }
    </style>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="/">Accueil</a>
</nav>

<div class="container mt-5" id="form-container">
    <h1 class="text-center mb-4">Service web 3 : Comparateur</h1>
    <form id="availabilityForm">

        <div class="form-group">
            <label for="country">Pays:</label>
            <input type="text" class="form-control" id="country" name="country" required>
        </div>

        <div class="form-group">
            <label for="city">Ville:</label>
            <input type="text" class="form-control" id="city" name="city" required>
        </div>

        <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" required>
        </div>

        <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="date" class="form-control" id="endDate" name="endDate" required>
        </div>

        <div class="form-group">
            <label for="nbGuests">Nombre de personnes (min):</label>
            <input type="number" class="form-control" id="nbGuests" name="nbGuests" required>
        </div>

        <div class="form-group">
            <label for="minStars">Nombre d'étoile (min):</label>
            <input type="number" class="form-control" id="minStars" name="minStars" required>
        </div>

        <button type="button" class="btn btn-primary" onclick="checkAvailability()">Comparer les offres</button>
    </form>
</div>

<div id="result" class="container card-container"></div>

<!-- Add Bootstrap JS and Popper.js (required for Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    function checkAvailability() {
        const formData = new FormData(document.getElementById('availabilityForm'));
        const urlSearchParams = new URLSearchParams(formData);
        const paramsString = urlSearchParams.toString();

        fetch(`http://localhost:8080/api/hotel/comparateur?${paramsString}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                const resultContainer = document.getElementById('result');
                resultContainer.innerHTML = '';  // Clear previous results

                data.forEach(offer => {
                    const card = document.createElement('div');
                    card.classList.add('card');

                    const availabilityDate = new Date(offer.availabilityDate);

                    card.innerHTML = `
                        <div class="card-body">
                            <h2 class="card-title">Chambre n°${offer.id}</h2>
                            <img class="card-img-top" src=${offer.room.image} alt=${offer.room.image} />
                            <p class="card-text">Nom de l'hôtel: ${offer.room.hotel.hotelName}</p>
                            <p class="card-text">Nom de l'agence: ${offer.agency.agencyName}</p>
                            <p class="card-text">Nombre d'étoiles de l'hôtel: ${offer.room.hotel.nbStars}</p>
                            <p class="card-text">Nombre de lits: ${offer.room.nbBeds}</p>
                            <p class="card-text">Type de chambre: ${offer.room.roomType}</p>
                            <p class="card-text">Date disponible: ${availabilityDate.toLocaleDateString()}</p>
                            <p class="card-text">Prix de l'offre: ${offer.price}€</p>
                            <p class="card-text" style="color: green">Veuillez cliquer pour plus d'informations...</p>
                        </div>
                    `;

                    card.addEventListener('click', function() {
                        window.location.href = 'offer?id=' + offer.id;
                    });

                    resultContainer.appendChild(card);
                });
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('result').innerHTML = 'Une erreur est survenue !';
            });
    }
</script>

</body>
</html>
