<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Availability Checker</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .form-container {
            max-width: 500px;
            margin: 0 auto;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }

        .card {
            width: 500px;
            margin: 30px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="form-container">
    <h1>Service web 3 : Comparateur</h1>
    <form id="availabilityForm">

        <label for="country">Pays:</label>
        <input type="text" id="country" name="country" required>

        <label for="city">Ville:</label>
        <input type="text" id="city" name="city" required>

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" required><br>

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" required><br>

        <label for="nbGuests">Nombre de personnes (min):</label>
        <input type="number" id="nbGuests" name="nbGuests" required><br>

        <label for="minStars">Nombre d'étoile (min):</label>
        <input type="number" id="minStars" name="minStars" required><br>

        <button type="button" class="btn btn-primary" onclick="checkAvailability()">Comparer les offres</button>
    </form>
</div>

<div id="result" class="card-container"></div>

</div>

<!-- Add Bootstrap JS and Popper.js (required for Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    function checkAvailability() {
        const formData = new FormData(document.getElementById('availabilityForm'));
        const urlSearchParams = new URLSearchParams(formData);
        const paramsString = urlSearchParams.toString();

        fetch(`http://localhost:8080/api/hotel/comparateur?${paramsString}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // Display the result as cards
                const resultContainer = document.getElementById('result');
                resultContainer.innerHTML = '';  // Clear previous results

                data.forEach(offer => {
                    const card = document.createElement('div');
                    card.classList.add('card');

                    // Convertissez offer.availabilityDate en objet Date
                    const availabilityDate = new Date(offer.availabilityDate);

                    card.innerHTML = `
                        <div class="card-body">
                            <h2 class="card-title">Chambre n°${offer.id}</h2>
                            <img class="card-img-top" src=${offer.room.image} alt=${offer.room.image} />
                            <p class="card-text">Nom de l'hôtel: ${offer.room.hotel.hotelName}</p>
                            <p class="card-text">Nom de l'agence: ${offer.agency.agencyName}</p>
                            <p class="card-text">Nombre d'étoiles de l'hôtel: ${offer.room.hotel.nbStars}</p>
                            <p class="card-text">Nombre de lits: ${offer.room.nbBeds}</p>
                            <p class="card-text">Type de chambre: ${offer.room.roomType}</p>
                            <p class="card-text">Date disponible: ${availabilityDate.toLocaleDateString()}</p>
                            <p class="card-text">Prix de l'offre: ${offer.price}€</p>
                        </div>
                    `;

                    // Ajoutez un gestionnaire d'événements de clic sur chaque carte
                    card.addEventListener('click', function() {
                        // Redirigez vers une nouvelle page avec davantage d'informations
                        window.location.href = 'offer?id=' + offer.id;
                    });

                    resultContainer.appendChild(card);
                });
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('result').innerHTML = 'Une erreur est survenue !';
            });
    }
</script>

</body>
</html>
