<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details Page</title>
  <!-- Ajoutez ici les liens vers les fichiers CSS nécessaires -->
  <!-- Add Bootstrap CSS link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">



</head>
<body>

<div class="container mt-5">

  <h1 class="text-center">Service web 2</h1>

  <div id="offerDetails" class="mt-4">
    <!-- Les informations détaillées de l'offre seront affichées ici -->
  </div>

  <div class="container mt-5">
    <h1 class="text-center">Réserver cette offre</h1>

    <div id="reservationFormDiv" class="mt-4">
      <h2 class="text-center">Veuillez renseigner vos informations personnelles</h2>

      <div id="reservationInfo" class="mt-4"></div>
      <div id="reservationError" class="mt-4"></div>

      <form id="reservationForm">
        <div class="form-group">
          <label for="clientFirstname">Prénom: </label>
          <input type="text" class="form-control" id="clientFirstname" name="clientFirstname" required>

          <label for="clientLastname">Nom: </label>
          <input type="text" class="form-control" id="clientLastname" name="clientLastname" required>

          <label for="clientCardNumber">Carte de crédit: </label>
          <input type="text" class="form-control" id="clientCardNumber" name="clientCardNumber" min="16" max="16" required>

          <label for="clientCCV">CCV: </label>
          <input type="text" class="form-control" id="clientCCV" name="clientCCV" min="3" max="3" required>
        </div>
        <!-- Ajoutez d'autres champs de formulaire si nécessaire -->

        <button type="button" class="btn btn-primary" onclick="makeReservation()">Réserver</button>
        <button type="button" class="btn btn-secondary" id="accueil">Accueil</button>
      </form>
<br>
      <br>
      <br>
      

    </div>
  </div>

  <!-- Add Bootstrap JS and Popper.js (required for Bootstrap JS) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    // Récupérez l'ID de la chambre à partir de l'URL
    const urlParams = new URLSearchParams(window.location.search);
    const roomId = urlParams.get('id');

    // Chargez les détails de l'offre en fonction de l'ID de la chambre
    // Vous devrez implémenter cette partie en fonction de votre structure de données
    fetch(`http://localhost:8080/api/hotel/offer?id=${roomId}`)
            .then(response => response.json())
            .then(data => {
              const offerDetailsContainer = document.getElementById('offerDetails');
              offerDetailsContainer.innerHTML = `
                    <div class="card mx-auto" style="max-width: 500px;">
            <img src="${data.room.image}" alt="${data.room.image}" class="card-img-top">
            <div class="card-body">
              <h2 class="card-title">Nom de l'hôtel: ${data.room.hotel.hotelName}</h2>
              <p class="card-text">Prix agence:<span style="text-decoration: line-through; opacity: 0.75">${data.price}€</span> ${data.price * data.agency.discount}€ (-${data.agency.discount * 100}%)</>
              <p class="card-text">Date disponible: ${new Date(data.availabilityDate).toLocaleDateString()}</p>
              <p class="card-text">Est disponible ? ${data.reserved ? "Non" : "Oui"}</p>
              <p class="card-text">Nombre de lits: ${data.room.nbBeds}</p>
              <p class="card-text">Type de lit: ${data.room.roomType}</p>
            </div>
          </div>
                `;
            })
            .catch(error => {
              console.error('Error:', error);
              document.getElementById('offerDetails').innerHTML = 'Une erreur est survenue lors du chargement des détails de l\'offre.';
            });


    function makeReservation() {
      const reservationForm = document.getElementById('reservationForm');
      const firstname = document.getElementById('clientFirstname').value;
      const lastname = document.getElementById('clientLastname').value;
      const cardNumber = document.getElementById('clientCardNumber').value;
      const ccv = document.getElementById('clientCCV').value;

      // Recherchez l'ID du client en fonction des informations fournies
      fetch(`http://localhost:8080/api/hotel/client?firstname=${firstname}&lastname=${lastname}&cardNumber=${cardNumber}&ccv=${ccv}`)
              .then(response => {
                if (!response.ok) {
                  throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
              })
              .then(clientData => {
                const clientId = clientData;

                // Récupérez l'ID de la chambre à partir de l'URL
                const urlParams = new URLSearchParams(window.location.search);
                const roomId = urlParams.get('id');

                // Récupérez d'autres informations nécessaires pour la réservation depuis la page
                fetch(`http://localhost:8080/api/hotel/offer?id=${roomId}`)
                        .then(response => {
                          if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                          }
                          return response.json();
                        })
                        .then(offerData => {
                          // Envoie de la demande de réservation au serveur
                          const reservationData = {
                            agencyId: offerData.agency.id,
                            username: offerData.agency.username,
                            password: offerData.agency.password,
                            offerId: roomId,
                            clientId: clientId,
                          };

                          const queryString = new URLSearchParams(reservationData).toString();
                          const reservationUrl = `http://localhost:8080/api/hotel/reservation?${queryString}`;

                          fetch(reservationUrl, {
                            method: 'POST',
                            headers: {
                              'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({}),
                          })
                                  .then(response => {
                                    if (!response.ok) {
                                      throw new Error(`HTTP error! Status: ${response.status}`);
                                    }
                                    return response.json();
                                  })
                                  .then(data => {
                                    console.log('Réservation', data);
                                    const reservationInfoContainer = document.getElementById('reservationInfo');
                                    reservationInfoContainer.innerHTML = `
                                    <div class="card-body">
                                        <p class="card-title">Ticket de réservation</p>
                                        <p class="card-text">${data.success ? "Réservation réussie !" : "Erreur de réservation..."}</p>
                                        <p class="card-text">ID de réservation : ${data.id}</p>
                                        <p class="card-text" style=${data.success ? "color: green" : "color: red"}>Message : ${data.message}</>
                                        <p class="card-text">Réservé par ${data.client.clientFirstname} ${data.client.clientLastname}</p>
                                        <p class="card-title">Informations sur l'hôtel : </p>
                                        <p class="card-text">Adresse : </p>
                                    </div>`;
                                    reservationForm.style.display = "none";
                                  })
                                  .catch(error => {
                                    console.error('Erreur lors de la réservation:', error);
                                  });
                        })
                        .catch(error => {
                          console.error('Erreur lors de la récupération des détails de l\'offre:', error);
                        });
              })
              .catch(error => {
                const reservationError = document.getElementById("reservationError");
                reservationError.innerHTML = `<p style="color: red">Erreur : Ce client n'existe pas... Recommencer avec des valeurs correct !</p>`;
                console.error('Erreur lors de la recherche du client:', error);
              });
    }

    const buttonHome = document.getElementById("accueil");
    buttonHome.addEventListener('click', function () {
      window.location.href = '/';
    });

  </script>
</div>
</body>
</html>
