<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Availability Checker</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .form-container {
            max-width: 500px;
            margin: 0 auto;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }

        .card {
            width: 500px;
            margin: 30px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="form-container">
<h1>Service web 1</h1>
<form id="availabilityForm">
    <label for="agencyId">Sélectionne l'agence:</label>
    <select id="agencyId" name="agencyId" required>
        <option value="1">Trivago</option>
        <option value="2">HotelAgency</option>
        <option value="3">Ritz</option>
    </select><br>

    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" required>
    <span id="usernameError" style="color: red;"></span><br>

    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required>
    <span id="passwordError" style="color: red;"></span><br>

    <label for="startDate">Date de début:</label>
    <input type="date" id="startDate" name="startDate" required><br>

    <label for="endDate">Date de fin:</label>
    <input type="date" id="endDate" name="endDate" required><br>

    <label for="nbGuests">Nombre de personnes:</label>
    <input type="number" id="nbGuests" name="nbGuests" required><br>

    <button type="button" class="btn btn-primary" onclick="checkAvailability()">Voir les offres</button>
    <button type="button" class="btn btn-secondary" id="comparateur">Comparateur</button>
</form>
</div>


<div id="result" class="card-container"></div>

</div>

<!-- Add Bootstrap JS and Popper.js (required for Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    function checkAvailability() {
        const formData = new FormData(document.getElementById('availabilityForm'));
        const urlSearchParams = new URLSearchParams(formData);
        const paramsString = urlSearchParams.toString();

        fetch(`http://localhost:8080/api/hotel/availability?${paramsString}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // Display the result as cards
                const resultContainer = document.getElementById('result');
                resultContainer.innerHTML = '';  // Clear previous results

                data.forEach(offer => {
                    const card = document.createElement('div');
                    card.classList.add('card');

                    // Convertissez offer.availabilityDate en objet Date
                    const availabilityDate = new Date(offer.availabilityDate);

                    card.innerHTML = `
                        <div class="card-body">
                            <h2 class="card-title">Nom de l'hôtel: ${offer.room.hotel.hotelName}</h2>
                            <img class="card-img-top" src=${offer.room.image} alt=${offer.room.image} />
                            <p class="card-text">Date disponible: ${availabilityDate.toLocaleDateString()}</p>
                        </div>
                    `;

                    // Ajoutez un gestionnaire d'événements de clic sur chaque carte
                    card.addEventListener('click', function() {
                        // Redirigez vers une nouvelle page avec davantage d'informations
                        window.location.href = 'offer?id=' + offer.id;
                    });

                    resultContainer.appendChild(card);
                });
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('result').innerHTML = 'Une erreur est survenue !';
            });
    }

    const buttonComparateur = document.getElementById("comparateur");
    buttonComparateur.addEventListener('click', function () {
        window.location.href = '/comparateur';
    });
    </script>

    </body>
</html>
